/* media query small devices */
@media (max-width: 768px) {
  .header {
    min-height: 800px;
    padding: 15px;
    margin-top: 30px;
  }
  .navbar {
    padding: 15px 20px;
  }
  .navbar .nav-links,
  #theme-switch,
  .navbar .auth {
    display: none;
  }
  .toggle-btn {
    display: block;
  }
  .navbar .title {
    width: 100%;
  }
  .hero-section {
    margin-top: 30px;
    padding-top: 40px;
    flex-direction: column;
    text-align: center;
  }
  .Improve h1 {
    font-size: clamp(20px, 5vw, 32px);
  }
  .Enroll button {
    background-color: var(--color-nav-bar);
  }
  .Second-Section {
    padding: 50px 20px;
  }
  .Second-Section .stat {
    flex-direction: column;
    gap: 30px;
  }
  .stat .stat-item {
    border-right: none;
    border-bottom: 2px solid #ecc67b;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .stat .stat-item:last-child {
    border-bottom: none;
  }
  .Third-Section {
    padding: 30px 20px;
  }
  .education-text h1 {
    font-size: clamp(24px, 5vw, 36px);
  }
  .feature-section {
    padding: 50px 20px;
  }
  .features-top {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .feature-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .feature-card {
    padding: 20px 15px;
  }
  .special-feature {
    padding: 30px 20px;
  }

  .special-feature h2 {
    font-size: clamp(20px, 4vw, 32px);
  }
  .special-feature button {
    padding: 10px 16px;
    font-size: 11px;
    margin-top: 20px;
  }
  .popular-courses {
    padding: 50px 20px;
  }
  .popular-courses h1 {
    font-size: clamp(24px, 5vw, 42px);
    padding: 0 10px;
  }
  .course-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 40px;
  }
  .course-card {
    padding: 30px 15px;
  }
  .course-meta {
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px 20px 20px;
    text-align: center;
    
  }
  .view-btn ,.view-btn-yellow{
    width: 200px;
    margin: auto;
  }
  .easy-start {
    padding: 40px 20px;
  }
  .easy-content h1 {
    font-size: clamp(24px, 5vw, 42px);
  }
  .easy-content ul {
    font-size: 16px;
    padding: 0;
    text-align: left;
  }
  .easy-image img {
    max-width: 100%;
  }
  .cta-banner {
    padding: 20px;
  }
  .cta-container {
    flex-direction: column;
    padding: 20px;
    margin-bottom: 40px;
  }
  .cta-container img {
    width: 200px;
    max-width: 80%;
  }
  .cta-text h3 {
    font-size: clamp(18px, 4vw, 24px);
    line-height: 1.5;
  }
  .app-promo {
    padding: 50px 20px;
  }
  .app-promo h2 {
    padding: 40px 20px;
    font-size: clamp(20px, 5vw, 36px);
    max-width: 100%;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-left {
    text-align: center;
  }
  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer-logo {
    justify-content: center;
  }

  .copyright {
    padding: 0 20px;
    justify-content: center;
    bottom: auto;
    position: static;
    width: 100%;
    margin-top: 20px;
  }
}
/* Medium Devices */
@media (max-width: 992px) {
  .cta-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    justify-content: center;
  }
  .education-content{
    justify-content: center;
  }
}