* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --color-nav-bar: #ffc75d;
  --color-bg-main: #fffefd;
  --color-switch-dark: #ffc75d;
  --color-bg-switch-dark: black;
  --color-bg-secondsec: white;
  --color-card: white;
  --color-bg-promo: #fff0d2;
  --color-bg-footer: #fdf6e4;
  --text-color: black;
  --text-bg-color: black;
  --description-text-color: #575656;
}

.darkmode {
  --color-bg-main: black;
  --color-bg-secondsec: #1a1a19;
  --color-bg-promo: #1a1a19;
  --color-card: #ffc75d;
  --color-bg-footer: #1a1a19;
  --text-color: #ecc67b;
  --text-bg-color: #ecc67b;
  --description-text-color: #706f6f;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Images/learning-teacher.png");
  min-height: 600px;
  padding: 30px;
  width: 100%;
  max-width: 100%;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 30px;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--color-nav-bar);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  border-radius: 0 0 15px 15px;
}

.navbar .title {
  font-family: "Dancing Script";
  font-optical-sizing: auto;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
}

.navbar .title img {
  width: 40px;
  height: auto;
}
.navbar .title a {
  text-decoration: none;
  color: black;
}
.navbar .nav-links {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
  width: 25%;
}
.navbar .nav-links a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
#theme-switch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 0 20px;
  margin: 0 10px;
  width: 55px;
  height: 30px;
  border-radius: 90px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
  box-shadow: 2px 1.5px;
}
#theme-switch:hover {
  transform: translate(0px, -5px);
}
#theme-switch::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background: var(--text-color);
  border-radius: 50%;
  transition: transform 0.35s ease;
  transform: translateX(-12px); /* Light Position */
}

/* Icons */
#theme-switch .icon-sun,
#theme-switch .icon-moon {
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.35s ease;
  position: relative;
  z-index: 2;
}

#theme-switch .icon-sun {
  opacity: 1;
} /* Light mode default */

/* ======== DARK MODE ======== */
.darkmode #theme-switch {
  background: var(--color-bg-switch-dark);
}

.darkmode #theme-switch::before {
  transform: translateX(12px); /* Move right */
  background: var(--color-nav-bar);
}

.darkmode #theme-switch .icon-sun {
  opacity: 0;
}
.darkmode #theme-switch .icon-moon {
  opacity: 1;
}

.navbar .auth {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 20%;
  /* d */
}
.navbar .auth a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.navbar .btn-signup {
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}
.btn-signup:hover {
  background: #262525;
}
.toggle-btn {
  text-decoration: none;
  cursor: pointer;
  font-size: 35px;
  background-color: transparent;
  border: none;
  display: none;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  padding-top: 80px;
  text-align: center;
}

.Improve h1 {
  font-size: clamp(28px, 8vw, 42px);
  font-weight: 700;
  margin-bottom: 20px;
}
.Improve h1 span {
  color: #ecc67b;
  border-style: solid;
  border-radius: 50px;
  padding: 0.1 15;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-style: italic;
  border-color: #000;
  background-color: black;
}
.Enroll p {
  font-weight: 20;
  margin-bottom: 20px;

  line-height: 1.5;
}
.Enroll button {
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

.Enroll button:hover {
  background: #f9c265;
}

.Second-Section {
  padding: 80px 20px;
  background-color: var(--color-bg-secondsec);
}
.Second-Section .stat {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
}
.stat .stat-item {
  text-align: center;
  border-right: 3px solid #ccc;
  border-color: #ecc67b;
  padding-right: 50px;
  line-height: 10px;
}
.stat .stat-item h1 {
  font-size: 30;
  color: var(--text-color);
}

.stat-item:last-child {
  border-right: none; /* Remove line on the last item */
}

.stat .stat-item p {
  padding-top: 20;
  color: var(--description-text-color);
  font-weight: 700;
  font-size: 10;
}

.Third-Section {
  padding: 50px;
  background-color: #fdf6e4;
  max-width: 100%;
}
.education-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}
.education-text {
  max-width: 400px;
  margin: auto;
}
.education-text p {
  padding: 20px auto;
  color: var(--description-text-color);
  font-weight: 700;
  line-height: 1.5;
}
.education-text h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 20px;
}

.education-text span {
  border-style: solid;
  border-radius: 50px;
  padding: 0.3px 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-style: italic;
  border-color: #000;
  background-color: #f9c265;
}
.education-image img {
  flex: 1;
  max-width: 500px;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.feature-section {
  padding: 100px 50px;
  background-color: var(--color-bg-main);
  max-width: 100%;
}

.features-top {
  display: grid;
  grid-template-columns: 1fr;
  gap: 70px;
  justify-content: center;
}

.special-feature {
  background: #1b1b1b;
  color: #fff;
  padding: 40px 40px;
  border-radius: 15px;
  width: 100%;
  line-height: 1.5;
  flex: 1;
}

.special-feature img {
  width: 60px;
  padding-right: 32px;
}

.special-feature h2 {
  font-weight: 500;
  font-size: 37;
}

.special-feature span {
  color: #f9c265;
  padding: 0.1 12;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.special-feature button {
  margin-top: 40px;
  padding: 15px 24px;
  border: none;
  border-radius: 30px;
  background-color: #f9c265;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.special-feature button:hover {
  background: #ecc67b;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 70px;
  margin-top: 40px;
  justify-content: center;
}

.feature-card {
  background: var(--color-card);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 30px 20px;
  transition: transform 0.3s ease;
  max-width: 400px;
}

.feature-card:hover {
  transform: translateY(-10px);
}

.feature-card img {
  width: 50px;
  margin-bottom: 20px;
}

.feature-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

.popular-courses {
  padding: 100px 50px;
  background-color: black;
  max-width: 100%;
}

.popular-courses h1 {
  text-align: center;
  color: white;
  font-size: 50;
  font-weight: 600;
}

.course-span {
  color: #f9c265;
  border-style: solid;
  border-radius: 50px;
  padding: 0.1 12;
  font-weight: 200;
  font-style: italic;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 70px;
  margin-top: 90px;
  text-align: center;
  justify-content: center;
}

.course-card {
  background: #fff;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.course-card:hover {
  transform: translateY(-8px);
}

.course-meta {
  padding: 25px 30px 30px 30px;
  display: flex;
  justify-content: space-between;
}

.course-card h3 {
  padding-left: 35px;
  margin-bottom: 15px;
  text-align: left;
  font-size: 20;
  font-weight: bold;
}

.view-btn {
  border-radius: 50px;
  border-color: black;
  padding: 15px 20px;
  margin-right: 50%;
  margin-top: 15px;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
}

.view-btn-yellow {
  border-radius: 50px;
  border-color: black;
  padding: 15px 20px;
  margin-right: 50%;
  margin-top: 15px;
  cursor: pointer;
  background-color: #f9c265;
  font-weight: bold;
}

.easy-start {
  background-color: var(--color-bg-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 80px;
  margin: auto;
}

.easy-content h1 {
  color: var(--text-color);
  font-size: 50;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.easy-content span {
  border-style: solid;
  border-radius: 50px;
  padding: 0.3 9;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-style: italic;
  border-color: #000;
  background-color: #f9c265;
  color: #000;
}

.easy-content p {
  margin-top: 20px;
  padding-right: 55px;
  max-width: 400px;
  color: var(--description-text-color);
}

.svg {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.easy-content ul {
  margin-top: 30px;
  padding-right: 55px;
  max-width: 500;
  line-height: 2;
  list-style-type: none;
  font-size: 25;
  color: var(--text-bg-color);
}
.easy-content ul img {
  width: 19px;
  background-color: #1b1b1b;
  border-radius: 50%;
}
.easy-image img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  display: block;
}

.cta-banner {
  background-color: var(--color-bg-main);
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  position: relative;
  z-index: 2;
}

.cta-container {
  border-radius: 15px;
  margin-bottom: -80px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9c265;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.cta-container img {
  width: 300px;
}

@media (max-width: 992px) {
  .cta-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
  }
}
.cta-text {
  padding: 20px 30px;
  margin-bottom: 55px;
}

.cta-text h3 {
  line-height: 3;
  font-size: 28;
  font-weight: bold;
  color: #000;
}
.cta-text em {
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.cta-text p {
  font-weight: 500;
}

.cta-button {
  padding: 15px 30px;
  border-radius: 50px;
  margin-top: 30px;
  cursor: pointer;
  color: #f9c265;
  background-color: #000;
  transition: 0.3s;
}

.cta-button:hover {
  background: #333;
}

.app-promo {
  position: relative;
  background-color: var(--color-bg-promo);
  padding: 90px 30px;
  margin-top: -20px;
  z-index: 1;
}

.app-promo h2 {
  color: var(--text-color);
  text-align: center;
  padding: 80px;
  max-width: 550px;
  margin: auto;
  font-weight: bold;
  font-size: 39;
}
.app-promo span {
  border-style: solid;
  border-radius: 50px;
  padding: 0.3px 9px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-style: italic;
  border-color: #000;
  background-color: #f9c265;
  color: #000;
}

footer {
  color: white;
  background-color: var(--color-bg-footer);
}
.footer-container {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  min-height: 400px;
  margin: auto;
  margin-bottom: -20;
  border-top-right-radius: 55px;
  border-top-left-radius: 55px;
  background-color: #1d1d1d;
  position: relative;
  gap: 30px;
}

.footer-left {
  max-width: 300px;
  padding: 20px;
}
.footer-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px; /* space between logo and text */
}

.footer-left img {
  max-width: 12%;
}

.footer-left p {
  color: #8a8989;
  margin: 15px auto;
}
.copyright {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  color: #8a8989;
  flex-wrap: wrap;
  gap: 10px;
}
.copyright a {
  text-decoration: none;
  color: #8a8989;
}
.copyright a:hover {
  color: #ffffff;
}
.footer-column {
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: 5;
  flex-wrap: wrap;
}
.footer-column a {
  text-decoration: none;
  color: #8a8989;
}

.footer-column a:hover {
  color: #ffffff;
}

html,
body {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .navbar .nav-links {
    width: auto;
    gap: 15px;
  }
  .navbar .auth {
    width: auto;
  }
  .feature-section,
  .popular-courses {
    padding: 80px 30px;
  }
  .Third-Section {
    padding: 50px 30px;
  }
}
/* media query small devices */
@media (max-width: 768px) {
  .header {
    min-height: 800px;
    padding: 15px;
    margin-top: 30px;
  }
  .navbar {
    padding: 15px 20px;
  }
  .navbar .nav-links,
  #theme-switch,
  .navbar .auth {
    display: none;
  }
  .toggle-btn {
    display: block;
  }
  .navbar .title {
    width: 100%;
  }
  .hero-section {
    margin-top: 30px;
    padding-top: 40px;
    flex-direction: column;
    text-align: center;
  }
  .Improve h1 {
    font-size: clamp(20px, 5vw, 32px);
  }
  .Enroll button {
    background-color: var(--color-nav-bar);
  }
  .Second-Section {
    padding: 50px 20px;
  }
  .Second-Section .stat {
    flex-direction: column;
    gap: 30px;
  }
  .stat .stat-item {
    border-right: none;
    border-bottom: 2px solid #ecc67b;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .stat .stat-item:last-child {
    border-bottom: none;
  }
  .Third-Section {
    padding: 30px 20px;
  }
  .education-text h1 {
    font-size: clamp(24px, 5vw, 36px);
  }
  .feature-section {
    padding: 50px 20px;
  }
  .features-top {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .feature-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .feature-card {
    padding: 20px 15px;
  }
  .special-feature {
    padding: 30px 20px;
  }

  .special-feature h2 {
    font-size: clamp(20px, 4vw, 32px);
  }
  .special-feature button {
    padding: 10px 16px;
    font-size: 11px;
    margin-top: 20px;
  }
  .popular-courses {
    padding: 50px 20px;
  }
  .popular-courses h1 {
    font-size: clamp(24px, 5vw, 42px);
    padding: 0 10px;
  }
  .course-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    margin-top: 40px;
  }
  .course-card {
    padding: 30px 15px;
  }
  .course-meta {
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px 20px 20px;
    text-align: center;
  }
  .easy-start {
    padding: 40px 20px;
  }
  .easy-content h1 {
    font-size: clamp(24px, 5vw, 42px);
  }
  .easy-content ul {
    font-size: 16px;
    padding: 0;
    text-align: left;
  }
  .easy-image img {
    max-width: 100%;
  }
  .cta-banner {
    padding: 20px;
  }
  .cta-container {
    flex-direction: column;
    padding: 20px;
    margin-bottom: 40px;
  }
  .cta-container img {
    width: 200px;
    max-width: 80%;
  }
  .cta-text h3 {
    font-size: clamp(18px, 4vw, 24px);
    line-height: 1.5;
  }
  .app-promo {
    padding: 50px 20px;
  }
  .app-promo h2 {
    padding: 40px 20px;
    font-size: clamp(20px, 5vw, 36px);
    max-width: 100%;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-left {
    text-align: center;
  }
  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .footer-logo {
    justify-content: center;
  }

  .copyright {
    padding: 0 20px;
    justify-content: center;
    bottom: auto;
    position: static;
    width: 100%;
    margin-top: 20px;
  }
}
